<section
  class='sheet-body tab inventory flexcol {{tab.cssClass}}'
  data-group='primary'
  data-tab='inventory'
  data-base-size='260'
>
  <div class="inventory">
    <div class="item-titles flexrow">
      <div class="item-caret" data-action="onCaret"><i class="fas fa-caret-down"></i></div>
      <div class="item-name">{{localize "OWB.items.Weapons"}}</div>
      <div class="icon-row">{{localize "OWB.items.Qualities"}}</div>
      <div class="field-short">{{localize "OWB.weapons.ROF"}}</div>
      <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize 'OWB.Add'}}"
            data-action='createDoc'
            data-document-class='Item'
            data-type='weapon'>
            <i class="fa fa-plus"></i></a>
      </div>
    </div>
    <ol class="item-list">
      {{#each data.owned.weapons as |item|}}
      <li class="item-entry">
        <div class="item flexrow" data-item-id="{{item.id}}">
          <div class="item-name item-rollable flexrow">
            <div class="item-image" data-action="onRollItem" style="background-image: url({{item.img}})"></div>
            <a data-action="itemSummary">
              <h4 title="{{item.name}}">
                {{item.name~}}
              </h4>
            </a>
          </div>
          <div class="icon-row flexrow">
            {{#each item.system.tags as |tag|}}
              {{#if (getTagIcon tag.value)}}
              <img title="{{tag.title}}" src="{{getTagIcon tag.value}}" width="24" height="24"/>
              {{/if}}
            {{/each}}
            {{#each item.system.tags as |tag|}}
            {{#unless (getTagIcon tag.value)}}
              <span title="{{tag.title}}">{{tag.value}}{{#unless @last}},{{/unless}}</span>
            {{/unless}}
            {{/each}}
          </div>
          <div class="field-short">
            {{item.system.counter.max}}
          </div>
          <div class="field-short">
            {{#if (eq @root.config.encumbrance "basic")}}_{{else}}{{item.system.weight}}{{/if}}
          </div>
          <div class="item-controls">
            {{#if ../owner}}
            <a class="item-control item-toggle {{#unless item.system.equipped}}item-unequipped{{/unless}}"
              title='{{localize "OWB.items.Equip"}}'
              data-action="toggleEquip">
              <i class="fas fa-tshirt"></i>
            </a>
            <a class="item-control item-edit" data-action="itemEdit" title='{{localize "OWB.Edit"}}'><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" data-action="itemDelete" title='{{localize "OWB.Delete"}}'><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="inventory">
    <div class="item-titles flexrow">
      <div class="item-caret" data-action="onCaret"><i class="fas fa-caret-down"></i></div>
      <div class="item-name">{{localize "OWB.items.Clothing"}}</div>
      {{#if @root.config.ascendingAC}}
      <div class="field-short">{{localize "OWB.items.ArmorAAC"}}</div>
      {{else}}
      <div class="field-short">{{localize "OWB.items.ArmorAC"}}</div>
      {{/if}}
      <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize 'OWB.Add'}}"
            data-action='createDoc'
            data-document-class='Item'
            data-type='armor'>
            <i class="fa fa-plus"></i></a>
      </div>
    </div>
    <ol class="item-list">
      {{#each data.owned.armors as |item|}}
      <li class="item-entry">
        <div class="item flexrow" data-item-id="{{item.id}}">
          <div class="item-name flexrow">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <a data-action="itemSummary">
              <h4 title="{{item.name}}">
                {{item.name~}}
              </h4>
            </a>
          </div>
          <div class="field-short">
            {{#if @root.config.ascendingAC}}
            {{item.system.aac.value}}
            {{else}}
            {{item.system.ac.value}}
            {{/if}}
          </div>
          <div class="field-short">
            {{#if (eq @root.config.encumbrance "basic")}}_{{else}}{{item.system.weight}}{{/if}}
          </div>
          <div class="item-controls">
            {{#if ../owner}}
            <a class="item-control item-toggle {{#unless item.system.equipped}}item-unequipped{{/unless}}"
              title='{{localize "OWB.items.Equip"}}'
              data-action="toggleEquip">
              <i class="fas fa-tshirt"></i>
            </a>
            <a class="item-control item-edit" data-action="itemEdit" title='{{localize "OWB.Edit"}}'><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" data-action="itemDelete" title='{{localize "OWB.Delete"}}'><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="inventory">
    {{!-- Misc items --}}
    <div class="item-titles flexrow">
      <div class="item-caret" data-action="onCaret"><i class="fas fa-caret-down"></i></div>
      <div class="item-name">{{localize "OWB.items.Misc"}}</div>
      <div class="field-short"><i class="fas fa-hashtag"></i></div>
      <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize 'OWB.Add'}}"
            data-action='createDoc'
            data-document-class='Item'
            data-type='item'>
            <i class="fa fa-plus"></i></a>
      </div>
    </div>
    <ol class="item-list">
      {{#each data.owned.items as |item|}}
      <li class="item-entry">
        <div class="item flexrow" data-item-id="{{item.id}}">
          <div class="item-name flexrow">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <a data-action="itemSummary">
              <h4 title="{{item.name}}">
                {{item.name~}}
              </h4>
            </a>
          </div>
          <div class="field-short">
            {{item.system.quantity.value}}
            {{#if item.system.quantity.max}}<span>/{{item.system.quantity.max}}</span>{{/if}}
          </div>
          <div class="field-short">
            {{#if (eq @root.config.encumbrance "basic")}}_{{else if (eq @root.config.encumbrance "detailed")}}_{{else}}{{item.system.weight}}{{/if}}
          </div>
          <div class="item-controls">
            {{#if ../owner}}
            <a class="item-control item-edit" data-action="itemEdit" title='{{localize "OWB.Edit"}}'><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" data-action="itemDelete" title='{{localize "OWB.Delete"}}'><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </div>
        {{#if item.system.quantity.max}}
        {{#if (lte item.system.quantity.max 38)}}
        <div class="consumable-counter" data-item-id="{{item.id}}">
          {{#times item.system.quantity.value}}<div class="full-mark" data-action="decConsumable"></div>{{/times}}
          {{#times (subtract item.system.quantity.max item.system.quantity.value)}}<div class="empty-mark" data-action="incConsumable"></div>{{/times}}
        </div>
        {{/if}}
        {{/if}}
      </li>
      {{/each}}
    </ol>
  </div>
  {{#with data.encumbrance}}
  <div class="encumbrance {{#if encumbered}}encumbered{{/if}}">
    <span class="encumbrance-bar" style="width:{{pct}}%"></span>
    <span class="encumbrance-label">{{value}} / {{max}}</span>
    <i class="encumbrance-breakpoint encumbrance-25 arrow-up"></i>
    <i class="encumbrance-breakpoint encumbrance-25 arrow-down"></i>
    <i class="encumbrance-breakpoint encumbrance-50 arrow-up"></i>
    <i class="encumbrance-breakpoint encumbrance-50 arrow-down"></i>
    <i class="encumbrance-breakpoint encumbrance-75 arrow-up"></i>
    <i class="encumbrance-breakpoint encumbrance-75 arrow-down"></i>
  </div>
  {{/with}}
</section>
