<nav class="sheet-tabs tabs character" data-group="primary">
    <a class="item {{tabs.attributes.cssClass}}" data-tab="attributes" data-group="primary" data-action="tab">{{localize "OWB.category.attributes"}}</a>
    <a class="item {{tabs.abilities.cssClass}}" data-tab="abilities"  data-group="primary" data-action="tab">{{localize "OWB.category.abilities"}}</a>
    <a class="item {{tabs.inventory.cssClass}}" data-tab="inventory"  data-group="primary" data-action="tab">{{localize "OWB.category.inventory"}}</a>
    <a class="item {{tabs.notes.cssClass}}" data-tab="notes"  data-group="primary" data-action="tab">{{localize "OWB.category.notes"}}</a>
</nav>