<section
  class='sheet-body tab attributes flexrow {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
    <div class="attribute-group">
        <div class="modifiers-btn">
            {{#unless isNew}}
            <a data-action="modifiers" title="{{localize 'OWB.Modifiers'}}"><i class="fas fa-book"></i></a>
            {{else}}
            <a data-action="generateScores" title="{{localize 'OWB.dialog.generateScores'}}"><i class="fas fa-dice blinking"></i></a>
            {{/unless}}
        </div>
        <ul class="attributes">
            <li class="attribute ability-score" data-action="rollCheck" data-score="str">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.scores.str.long' }}">
                    <a>{{ localize "OWB.scores.str.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.scores.str.value" type="text" value="{{data.scores.str.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-action="rollCheck" data-score="int">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.scores.int.long' }}">
                    <a>{{ localize "OWB.scores.int.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.scores.int.value" type="number" value="{{data.scores.int.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-action="rollCheck" data-score="wis">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.scores.wis.long' }}">
                    <a>{{ localize "OWB.scores.wis.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.scores.wis.value" type="text" value="{{data.scores.wis.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-action="rollCheck" data-score="con">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.scores.con.long' }}">
                    <a>{{ localize "OWB.scores.con.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.scores.con.value" type="text" value="{{data.scores.con.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-action="rollCheck" data-score="dex">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.scores.dex.long' }}">
                    <a>{{ localize "OWB.scores.dex.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.scores.dex.value" type="text" value="{{data.scores.dex.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-action="rollCheck" data-score="cha">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.scores.cha.long' }}">
                    <a>{{ localize "OWB.scores.cha.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.scores.cha.value" type="text" value="{{data.scores.cha.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
        </ul>
    </div>
    {{!-- Resource Tracking --}}
    <div class="resources">
        <div class="flexrow">
            {{!-- Hit Points --}}
            <div class="health">
                <input class="health-value health-top" name="system.hp.value" type="text" value="{{data.hp.value}}"
                    data-dtype="Number" placeholder="0" title="{{localize 'OWB.Health'}}" />
                <input class="health-value health-bottom" name="system.hp.max" type="text" value="{{data.hp.max}}"
                    data-dtype="Number" placeholder="0" title="{{localize 'OWB.HealthMax'}}" />
                <div class="health-empty" style="height:{{counter false data.hp.value data.hp.max}}%"></div>
                <div class="health-full" style="height:{{counter true data.hp.value data.hp.max}}%"></div>
            </div>
            {{!-- AC --}}
            <div class="health armor-class">
                {{#if config.ascendingAC}}
                <div class="health-value health-top" title="{{localize 'OWB.ArmorClass'}}">{{data.aac.value}}</div>
                <div class="health-value health-bottom" title="{{localize 'OWB.ArmorClassBase'}}">
                    {{data.aac.base}}</div>
                {{#if data.aac.shield}}<div class="shield" title="{{localize 'OWB.items.hasShield'}} ({{data.aac.shield}})"><i
                        class="fas fa-shield-alt"></i></div>{{/if}}
                {{else}}
                <div class="health-value health-top" title="{{localize 'OWB.ArmorClass'}}">{{data.ac.value}}</div>
                <div class="health-value health-bottom" title="{{localize 'OWB.ArmorClassBase'}}">
                    {{data.ac.base}}</div>
                    {{#if data.ac.shield}}<div class="shield" title="{{localize 'OWB.items.hasShield'}} ({{data.ac.shield}})"><i
                            class="fas fa-shield-alt"></i></div>{{/if}}
                {{/if}}
            </div>
        </div>
        <div class="flexrow">
            {{!-- Hit Dice --}}
            <ul class="attributes flexrow">
                <li class="attribute hit-dice">
                    <h4 class="attribute-name box-title" title="{{ localize 'OWB.HitDice' }}">
                        <a data-action="onRollHitDice">{{ localize "OWB.HitDiceShort" }}</a>
                    </h4>
                    <div class="attribute-value">
                        <input name="system.hp.hd" type="text" value="{{data.hp.hd}}" placeholder=""
                            data-dtype="String" />
                    </div>
                </li>
                {{!-- Base Hit Bonus --}}
                <li class="attribute">
                    <h4 class="attribute-name box-title" title="{{ localize 'OWB.BHB' }}">
                        <a>{{ localize "OWB.BHB" }}</a>
                    </h4>
                    <div class="attribute-value">
                        <input name="system.thac0.bhb" type="number" value="{{data.thac0.bhb}}" disabled/>
                    </div>
                </li>
                {{!-- Saving Throw --}}
                <li class="attribute saving-throw">
                    <h4 class="attribute-name box-title">
                        <a data-action="onRollSave" data-save="save">{{ localize "OWB.saves.save.short" }}</a>
                    </h4>
                    <div class="attribute-value">
                        <input name="system.saves.save.value" type="text" value="{{data.saves.save.value}}" placeholder="0"
                            data-dtype="Number" />
                </li>
            </ul>
        </div>
        <div class="flexrow">
            <ul class="attributes flexrow">
                <li class="attribute attack" data-action="attack" data-attack="melee">
                    <h4 class="attribute-name box-title" title="{{localize 'OWB.Melee'}}"><a>{{localize 'OWB.MeleeShort'}}</a></h4>
                    <div class="attribute-value"
                        title="{{localize 'OWB.scores.str.long'}}({{data.scores.str.mod}}) + {{localize 'OWB.Modifier'}}({{data.thac0.mod.melee}})">
                        {{add data.scores.str.mod data.thac0.mod.melee}}
                    </div>
                </li>
                {{#if config.ascendingAC}}
                <li class="attribute">
                    <h4 class="attribute-name box-title" title="{{ localize 'OWB.AB' }}">{{ localize "OWB.ABShort"}}</h4>
                    <div class="attribute-value">
                        <input name="system.thac0.bba" type="text" value="{{data.thac0.bba}}" placeholder="0"
                            data-dtype="Number" />
                    </div>
                </li>
                {{/if}}
                <li class="attribute attack" data-action="attack" data-attack="missile">
                    <h4 class="attribute-name box-title" title="{{localize 'OWB.Missile'}}"><a>{{localize 'OWB.MissileShort'}}</a></h4>
                    <div class="attribute-value"
                        title="{{localize 'OWB.scores.dex.long'}}({{data.scores.dex.mod}}) + {{localize 'OWB.Modifier'}}({{data.thac0.mod.missile}})">
                        {{add data.scores.dex.mod data.thac0.mod.missile}}
                    </div>
                </li>
                <li class="attribute">
                    <h4 class="attribute-name box-title" title="{{ localize 'OWB.movement.base' }}">{{ localize "OWB.movement.short" }}</h4>
                    <div class="attribute-value">
                        <input name="system.movement.base" type="number" value="{{data.movement.base}}" placeholder="0"
                            data-dtype="Number" {{#if data.config.movementAuto}}disabled{{/if}} />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>